.p-header {
    height: 100vh;
    position: relative;

    &__content {
        height: 100%;
    }
    .slide__controller {
        height: 40px;
        position: absolute;
        bottom: 54px;
        right: 60px;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide__number {
            width: 20px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            overflow: hidden;
            position: relative;
            margin-left: 28px;
            margin-right: -6px;
            span {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate3d(0, -100%, 0);
            }
            .is-current {
                transform: translate3d(0, 0, 0);

                animation: up 0.6s forwards;
            }
            .is-move {
                transform: translate3d(0, -100%, 0);
                animation: down 0.6s forwards;
            }
        }

        .slide__border {
            position: relative;
            height: 3px;
            width: 70px;
            background-color: #777;
            overflow: hidden;
            margin: 0 12px;
            span {
                position: absolute;
                left: 0;
                top: 0;
                background-color: white;
                height: 100%;
                width: 0;
                display: block;
                padding: unset;
            }
        }
        .slide__total {
            width: 20px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin-right: 25px;
        }
        .slick-arrow {
            width: 11px;
            cursor: pointer;
        }
        span,
        p {
            color: white;
            @include font($size: 2.4rem);
        }
        &.is-move {
            .slide__border {
                span {
                    width: 100% !important;
                    left: 100%;
                    transition: left 1000ms;
                }
            }
        }
    }
    &__slide {
        height: 100%;
        position: relative;
        .slick-arrow {
            // display: none !important;

            outline: none;
        }
    }
    .c-nav {
        height: 100%;
    }
    .is-white {
        color: #fff;
        .c-nav__logo--white {
            display: block;
        }
        .c-nav__logo--black {
            display: none;
        }
    }

    &__menu {
        position: absolute;
        top: 59px;
        right: 60px;
        width: 46px;
    }
}

@keyframes up {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes down {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -100%, 0);
    }
}
