.p-journal {
    background-color: #e8e8e8;
    padding-top: 98px;
    padding-bottom: 100px;
    &__content {
        margin-left: -22.5px;
        margin-right: -22.5px;
        margin-top: 42px;
    }
    &__more {
        margin-top: 36px;
    }
}
