.p-product {
    padding: 97px 0 50px;
    background-color: #d9d9d9;
    overflow: hidden;
    &__content {
        display: flex;
        @include breakpoint(pc) {
            margin-left: -15px;
            margin-right: -15px;
        }
        margin-top: 14px;
    }
    &__more {
        margin: 68px 0 50px;
    }
}
