<section class="p-about" id="about">
    <img class="bg-fixed" src="./assets/img/bg_about@2x.png" alt="">
    <div class="l-container">
        <img src="./assets/img/icons/logo@2x.png" alt="logo" class="p-about__logo">
        <p>MURACO（ムラコ）は⼩さな⾦属加⼯の⼯場から⽣まれました。<br>
            0.01mmの誤差が品質を左右する世界で磨かれた、<br>
            クラフトマンシップ溢れる確かな技術。<br>
            ものづくりにおける同じ価値観や<br>
            ⾼い能⼒・志を持ったプロフェッショナルが、<br>
            組織の枠を超えて結集し⽣み出すプロダクト。<br>
            既成の概念にとらわれず、様々なカルチャーから<br>
            インスパイアされた新感覚のスタイルを提案していきます。<br>
            アウトドアを楽しむ全ての⼈へ、新しい選択を。</p>
         <h4>OUTDOOR GUILD MURACO.</h4>
         <span>Our Philosophy</span>
    </div>
</section>