<section id="feature" class="p-feature">
    <div class="l-container">
        <h3 class="c-title">
            Feature
        </h3>
        <div class="p-feature__slide ">
            <div class="slide__item">
                <img class="slide__img" src="./assets/img/feature/img1@2x.png" alt="">
                <div class="slide__bottom u-flex u-j-between">
                    <h4 class="slide__title">
                        BRIEFING × muraco BLACKBEAK 2P
                    </h4>
                    <a class="slide__link" href="#" >
                        More
                    </a>

                </div>
            </div>
            <div class="slide__item">
                <img class="slide__img" src="./assets/img/feature/img2@2x.png" alt="">
                <div class="slide__bottom u-flex u-j-between">
                    <h4 class="slide__title">
                    New Open :  muraco FACTORY BRANCH
                    </h4>
                    <a class="slide__link" href="#" >
                    More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>