<section class="p-shop" id="shop">
    <div class="l-container">
        <h3 class="c-title">Shop List</h3>
        <div class="p-shop__item">
            <img class="p-shop__img" src="./assets/img/shoplist@2x.png" alt="shop list">
            <div class="p-shop__info">
                <h4 class="p-shop__title">
                    FACTORY BRANCH
                </h4>
                <span class="p-shop__detail">
                    muracoが運営する、工場併設のオフィシャルストア「FACTORY BRANCH」。12坪程度の小さな店舗では、muracoのフルラインナップ展示販売を始め、muracoの設
                </span>
                <div class="p-shop__time">
                    <span>住所 /　〒350-1325 埼玉県狭山市根岸649-7</span>
                    <span>営業 /　11:00 - 19:00（火水木 定休）</span>
                    <span>電話 /　0120-351-665</span>
                </div>
                <div class="p-shop__connect">
                    <p>
                        <img src="./assets/img/icons/instagram@2x.png" alt="instagram">
                        @muraco facetorybranch
                    </p>
                    <p>
                        <img src="./assets/img/icons/pin@2x.png" alt="googlemap">
                        Google Map
                    </p>
                </div>
            </div>
        </div>
        <div class="p-shop__find">
             <h4 class="find__title">
                Find Your Shop
             </h4>
             <ul>
                 <li class="have-dropdown">
                   <a href="#">北海道 / 東北</a>
                   <img src="./assets/img/icons/arrow-right.png" alt="">
                    <ul class="dropdown">
                            <li>
                               <a href="#">関東</a>
                            </li>
                            <li>
                               <a href="#">近畿</a>
                            </li>
                            <li>
                               <a href="#">九州 / 沖縄</a>
                            </li>
                    </ul>
                  
                 </li>
                 <li>
                     <a href="#">中部</a>
                 </li>
                 <li><a href="#">中国 / 四国</a></li>
             </ul>
        </div>
    </div>
</section>