<%-include('./inc/_header.ejs');%>
<main>
    <section id="feature" class="p-feature">
        <div class="l-container">
            <h3 class="c-title">
                Feature
            </h3>
            <div class="p-feature__slide">
                <div class="slide__item">
                    <img class="slide__img" src="" alt="">
                    <h4 class="slide__title">
                        BRIEFING × muraco BLACKBEAK 2P
                    </h4>
                    <a class="slide__link" href="#" >
                        More
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%-include('./inc/_footer.ejs');%>