.c-nav {
    height: 100vh;
    padding: 50px 0 45px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 235px;
    padding-left: 40px;
    justify-content: space-between;
    border-right: 1px solid #fff;

    li {
        display: block;
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
    &__logo {
        width: 140px;
        height: auto;
        max-height: 100%;
        margin-left: 5px;
        &--white {
            display: none;
        }
    }
    &__navigation {
        a {
            @include font($size: 1.8rem);
            letter-spacing: 0.7px;
            padding: 0 5px;
            &:hover {
                background-color: #707070;
                color: white;
            }
        }
    }
    &__actions {
        a {
            font-size: 1.8rem;
            letter-spacing: 0.7px;
            padding: 0 5px;
            &:hover {
                background-color: #707070;
                color: white;
            }
        }
    }
}
