.row {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(sp) {
        @for $i from 1 through $col-grid {
            .col-xs-#{$i} {
                width: $i/12 * 100%;
            }
        }
    }
    @include breakpoint(pc) {
        @for $i from 1 through $col-grid {
            .col-md-#{$i} {
                width: $i/12 * 100%;
            }
        }
    }
}
