<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/slick/slick.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="assets/vendor/slick/slick-theme.css"/> -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        />
        <link rel="stylesheet" href="https://use.typekit.net/ion5ndm.css">
    </head>

    <body>
        <div class="loading">
            <div class="loading__line "></div>
        </div>
        <!--▼ Header ▼-->
        <header class="c-header">
            <div class="p-header">
                <ul class="p-header__slide ">
                    <li class="c-slide">
                        <div class="c-slide__title">
                            <p>
                                Journal Updated
                            </p>
                            <h3>
                                For the new traveler Vol.01
                            </h3>
                            <span>
                                立山、はじまりの山へ
                            </span>
                        </div>
                        <a href="#">
                            <img  class="c-slide__img" src="/assets/img/slide/img1@2x.png" alt="">
                        </a>
                    </li>
                    <li class="c-slide">
                        <div class="c-slide__title">
                            <p>
                                demo
                            </p>
                            <h3>
                                For the new traveler Vol.02
                            </h3>
                            <span>
                                立山、はじまりの山へ
                            </span>
                        </div>
                        <a href="#">
                            <img  class="c-slide__img" src="/assets/img/bg_about@2x.png" alt="">
                        </a>
                    </li>
                </ul>
                <nav class="c-nav is-white">
                    <div class="c-nav__logo">
                        <svg class="c-nav__logo--white" xmlns="http://www.w3.org/2000/svg" width="140" height="63.411" viewBox="0 0 140 63.411">
                            <g id="Group_145" data-name="Group 145" transform="translate(-252.384 -201.749)">
                              <g id="Group_144" data-name="Group 144" transform="translate(252.384 201.749)">
                                <path id="Path_228" data-name="Path 228" d="M270.681,213.788a9.436,9.436,0,0,0-7.426-2.17c-3.9.3-7.047,3.058-9.374,8.2a62.6,62.6,0,0,1-1.5-6.666c4.671-7.669,10.841-11.4,18.861-11.4,6.674,0,12.421,3.04,16.619,8.793,4.242,5.812,6.485,13.837,6.485,23.205l.023,8.885v4.578c0,8.232,3.206,14.278,7.976,15.047h.354v2.9H267.57v-2.9h.354c4.771-.769,7.976-6.817,7.976-15.047V233.642C275.648,225.535,274.841,217.519,270.681,213.788Z" transform="translate(-252.384 -201.749)" fill="#fff"/>
                                <path id="Path_229" data-name="Path 229" d="M353.911,211.618c-3.9.3-7.047,3.058-9.374,8.2a62.712,62.712,0,0,1-1.5-6.666c4.672-7.669,10.842-11.4,18.862-11.4,6.674,0,12.421,3.04,16.618,8.793,4.242,5.812,6.485,13.837,6.485,23.205l.023,8.885v4.578c0,8.232,3.205,14.278,7.975,15.047h.354v2.9H358.227v-2.9h.353c4.77-.769,7.976-6.815,7.976-15.047V233.642c-.252-8.107-1.058-16.123-5.218-19.854A9.439,9.439,0,0,0,353.911,211.618Z" transform="translate(-298.199 -201.749)" fill="#fff"/>
                                <path id="Path_230" data-name="Path 230" d="M435.2,219.815a62.511,62.511,0,0,1-1.5-6.668c4.671-7.669,10.841-11.4,18.861-11.4,6.674,0,12.421,3.04,16.618,8.793,4.243,5.812,6.486,13.837,6.486,23.205l.023,8.885v4.578c0,8.232,3.206,14.278,7.976,15.047h.354v2.9H448.884v-2.9h.354c4.771-.769,7.976-6.815,7.976-15.047V233.642c-.252-8.107-1.057-16.123-5.217-19.854a9.412,9.412,0,0,0-7.427-2.17C440.674,211.919,437.522,214.676,435.2,219.815Z" transform="translate(-344.015 -201.749)" fill="#fff"/>
                              </g>
                            </g>
                          </svg>
                          <svg class="c-nav__logo--black" xmlns="http://www.w3.org/2000/svg" width="140" height="63.411" viewBox="0 0 140 63.411">
                            <g id="Group_145" data-name="Group 145" transform="translate(-252.384 -201.749)">
                              <g id="Group_144" data-name="Group 144" transform="translate(252.384 201.749)">
                                <path id="Path_228" data-name="Path 228" d="M270.681,213.788a9.436,9.436,0,0,0-7.426-2.17c-3.9.3-7.047,3.058-9.374,8.2a62.6,62.6,0,0,1-1.5-6.666c4.671-7.669,10.841-11.4,18.861-11.4,6.674,0,12.421,3.04,16.619,8.793,4.242,5.812,6.485,13.837,6.485,23.205l.023,8.885v4.578c0,8.232,3.206,14.278,7.976,15.047h.354v2.9H267.57v-2.9h.354c4.771-.769,7.976-6.817,7.976-15.047V233.642C275.648,225.535,274.841,217.519,270.681,213.788Z" transform="translate(-252.384 -201.749)" fill="#000"/>
                                <path id="Path_229" data-name="Path 229" d="M353.911,211.618c-3.9.3-7.047,3.058-9.374,8.2a62.712,62.712,0,0,1-1.5-6.666c4.672-7.669,10.842-11.4,18.862-11.4,6.674,0,12.421,3.04,16.618,8.793,4.242,5.812,6.485,13.837,6.485,23.205l.023,8.885v4.578c0,8.232,3.205,14.278,7.975,15.047h.354v2.9H358.227v-2.9h.353c4.77-.769,7.976-6.815,7.976-15.047V233.642c-.252-8.107-1.058-16.123-5.218-19.854A9.439,9.439,0,0,0,353.911,211.618Z" transform="translate(-298.199 -201.749)" fill="#000"/>
                                <path id="Path_230" data-name="Path 230" d="M435.2,219.815a62.511,62.511,0,0,1-1.5-6.668c4.671-7.669,10.841-11.4,18.861-11.4,6.674,0,12.421,3.04,16.618,8.793,4.243,5.812,6.486,13.837,6.486,23.205l.023,8.885v4.578c0,8.232,3.206,14.278,7.976,15.047h.354v2.9H448.884v-2.9h.354c4.771-.769,7.976-6.815,7.976-15.047V233.642c-.252-8.107-1.057-16.123-5.217-19.854a9.412,9.412,0,0,0-7.427-2.17C440.674,211.919,437.522,214.676,435.2,219.815Z" transform="translate(-344.015 -201.749)" fill="#000"/>
                              </g>
                            </g>
                          </svg>
                          
                    </div>
                    <ul class="c-nav__navigation">
                       <li>
                           <a href="#">Products</a>
                        </li>

                        <li><a href="#">Journal</a></li>
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Shop List</a></li>
                        <li><a href="#">Support / FAQ</a></li>
                      
                    </ul>
                    <ul class="c-nav__actions">

                       <li><a href="#">Login</a></li>
                       <li><a href="#">Sign Up</a></li>
                       <li><a href="#">Cart(0)</a></li>
                        
                    </ul>
                </nav>
                <img src="./assets/img/menu@2x.png" class="p-header__menu" alt="" />
            </div>
        </header>
        <!--▲ Header ▲-->
    </body>
</html>
