<div class="c-product__item <%= className%>">
    <a href="">
        <div class="c-product__image">
            <img src="<%= productImg %>" alt="">
        </div>
        
        <p class="c-product__text">
            <%= productName %>
        </p>
    </a>
</div>